<!--  Launch file for exploration using astar for path-planning in real scenario -->

<launch>
<group ns="/exploration">
        <include file="$(find exploration_launch_pkg)/launch/includes/real/large_map.launch" />
        <include file="$(find exploration_launch_pkg)/launch/includes/real/explore_action.launch" />
        <include file="$(find exploration_launch_pkg)/launch/includes/real/astar_action.launch" />

        <node pkg="rviz" type="rviz" name="rviz_exploration" args="-d $(find exploration_launch_pkg)/launch/includes/real/rviz_config/explore_map_viz.rviz"/>
</group>
</launch>
